* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(120deg, #4f46e5, #9333ea);
    color: white;
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links  {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links a:hover {
    text-decoration: underline;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}
.hero-text {
    max-width: 50%;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.hero-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e0e7ff;
}
.hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.buttons {
    display: flex;
    gap: 20px;
}
.btn {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
.primary {
    background-color: #14b8a6;
    color: white;
}
.secondary {
    border: 2px solid white;
    color: white;
}
.btn:hover {
    opacity: 0.85;
}
.hero-image img {
    width: 320px;
    border-radius: 20px;
}
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text, .hero-image {
        max-width: 100%;
    }
    .hero-image img {
        width: 100%;
        margin-top: 20px;
    }
}
.About{
    padding:80 px 60px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
}
.About h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.About p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.skill span {
    background: #14b8a6);
    padding:10px 20px;
    border-radius: 20px;
    font-weight: bold;
}
.projects {
    padding: 80px 60px;
    text-align: center;
}
.projects h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.project-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 20px;
    width: 280px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card h3 {
     margin-bottom: 10px;
}
.contact {
    padding: 80px 60px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
}
.contact h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.contact-form textarea {
    height: 120px;
}
.contact-form button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #14b8a6;
    color: white;
    font-size: bold;
    cursor: pointer;
}
.contact-form button:hover {
    opacity: 0.85;
}
.footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
html {
    scroll-behavior: smooth;
}
.btn {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.card {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}